@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    /* font-family: 'Catamaran', sans-serif; */
    /* font-family: 'Manrope', sans-serif; */
    font-family: 'Roboto', sans-serif;
}


#header-container {
    display: flex;
    height: 60px;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.1);
}

.logo {
    position: absolute;
    top: 10%;
    width: 50px;
}

.search {
    padding-left: 12px;
}

.search-bar {
    width: 350px;
    height: 36px;
    box-sizing: border-box;
    border: none;
    border-radius: 4px;
    font-size: 12px;
    /* background-color: #F5F6F9; */
    background-color: #428eff08;
    background-image: url(../resources/search.svg);
    background-repeat: no-repeat;
    background-position: 10px;
    padding: 5px 5px 5px 40px;
    position: absolute;
    top: 20%;
    /* font-weight: 500; */
    border: 1px solid rgba(103, 163, 255, 0.1);
  }

  ::placeholder {   /* Firefox */
    color: #80808080;
     
  }
  
  :-ms-input-placeholder {  /* Internet Explorer 10-11 */
    color: #80808080;
  }
  
  ::-ms-input-placeholder { /* Microsoft Edge */
    color: #80808080;
  }
  
  /* input[type=text]:focus {
    background-color: #F5F6F9;
    border: none;
  } */

.data-storage {
    display: flex;
    position: absolute;
    top: 35%;
    left: 25%;
    font-size: 12px;
    color: #80808080;
}

.data-storage-img {
    width: 18px;
}

.data-storage-tag {
    padding-left: 15px;
    margin: auto;
}

.profile {
    display: flex;
    position: absolute;
    top: 24%;
    border-left: 1px solid #80808030;
    font-size: 12px;
    /* font-weight: 500; */
    padding-left: 30px;
}

.profile-img {
    width: 34px;
}

.profile-tag {
    padding-left: 12px;
    margin: auto;
}

.row {
    margin: 0;
}

.navbar {
    padding-left: 0;
    padding-right: 0;
}

nav {
    width: 100%;
    font-size: 14px;
    padding-top: 30px;
    /* font-weight: 500; */
}

.nav-li {
    display: flex;
    height: 40px;
    /* padding-bottom: 15px; */
    padding-left: 15px;
    cursor: pointer;
    border-left: 3px solid #fff;
}

.active {
    background-image: linear-gradient(to left, #428dff03 , #428eff08);
    border-left: 3px solid #67A3FF !important;
}

.nav-li-icon {
    width: 15px;
}

.nav-li-p {
    margin: auto;
    margin-left: 0;
    padding-left: 15px;
    color: #444444;
    font-size: 12px;
}


.col-xl-8, .col-lg-8, .col-md-8, .col-xl-2, .col-lg-2, .col-md-2 {
    padding: 0;
}

.Section {
    /* background-color: rgba(245, 246, 249, 0.8); */
    background-color: #428eff08;
    padding: 40px;
    /* height: 100vh; */
    height: 90vh;
}

.section-top {
    display: flex;
}

.div-100 {
    width: 100%;
}

.div-80 {
    width: 80%;
}

.div-60 {
    width: 60%
}

.div-50 {
    width: 50%;
}

.div-30 {
    width: 30%;
}

.div-20 {
    width: 20%;
}

.left {
    float: left;
    text-align: left;
}

.right {
    float: right;
    text-align: right;
}

.heading {
    margin: 0;
    color: #444444;
}

.btn-more {
    width: 70px;
    height: 26px;
    border: none;
    background-color: #fff;
    border-radius: 2px;
    color: #444444;
    font-size: 12px;
    /* font-weight: 500; */
    margin-right: 05px;
    box-shadow: 0px 0px 5px 0px #428eff0f;
    border: 1px solid rgba(103, 163, 255, 0.1);
}


/* More button - Icons */
#myMoreDIV {
    display: none;
    /* width: 100px; */
    height: 0;

}

.my-div-more {
    width: 100px;
    height: 0;
}

/* Checkbox more */
.container-checkbox-more {
    position: absolute;
    top: 5px;
    right: -8px;
}

.btn-date {
    width: 100px;
    height: 26px;
    border: none;
    background-color: #fff;
    border-radius: 2px;
    color: #444444;
    font-size: 12px;
    /* font-weight: 500; */
    margin-right: 05px;
    box-shadow: 0px 0px 5px 0px #428eff0f;
    border: 1px solid rgba(103, 163, 255, 0.1);
}

.btn-add {
    width: 70px;
    height: 26px;
    border: none;
    background-color: #428dff;
    border-radius: 2px;
    color: #fff;
    font-size: 12px;
    /* font-weight: 500; */
    border: 1px solid rgba(103, 163, 255, 0.1);
}

.hr-line {
    border-top: 1px solid #00000008;
}

.section-main {
    display: flex;
}

.card {
    background-color: #fff;
    border-radius: 02px;
    width: 200px;
    border: none;
    box-shadow: 0px 0px 5px 0px #428eff0f;
    padding: 20px;
    cursor: pointer;
    border: 1px solid rgba(103, 163, 255, 0.1);
}

.margin-left-10 {
    margin-left: 20px;
}


ul {
    list-style-type: none;
}

.flex {
    display: flex;
    margin: 0;
    padding: 0;
}

.folder {
    padding-right: 10px;
}

.folder > img {
    width: 32px;
}

.date {
    font-size: 10px;
    color: #80808085;
}

.folder-name {
    font-size: 11px !important;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.6);;
}

/* Live Chat */

/* Messages */

.chat-div {
    /* overflow-y: scroll; */
    height: 325px;
    padding: 20px;
    background-image: linear-gradient(white, #428eff08);
}

/* ::-webkit-scrollbar {
    width: 10px;
  } */

/* .container {
    background-color: #428eff08;
    border-radius: 02px;
    padding: 10px;
    font-size: 12px;
    width: 90%;
    margin: auto;
    margin-top: 10px;
    border: 1px solid rgba(103, 163, 255, 0.1);
  } */

  .container {
    border-radius: 02px;
    padding: 0;
    font-size: 12px;
    margin: 0;
}

.users {
    margin-bottom: 04px;
}
  
  .container::after {
    content: "";
    clear: both;
    display: table;
  }
  
  .container img {
    float: left;
    width: 20px;
    border-radius: 50%;
  }

  .text-right {
      /* padding-right: 10px; */
  }
  
  .container img.right {
    float: right;
    /* margin-left: 20px; */
    margin-right:0;
  }
  
  .time-right {
    float: right;
    color: #aaa;
    font-size: 10px;
  }
  
.time-left {
    float: left;
    color: #999;
    font-size: 10px;
}

.unique-users {
    font-size: 14px;
    float: left;
    margin: 0;
}


.unique-users-number {
    font-size: 12px;
    float: right;
    padding-top: 02px;
    margin: 0;
    color: #18da45;
}


/* The popup chat - hidden by default */
.chat-popup {
    /* position: fixed; */
    bottom: 0;
    right: 15px;
    /* border: 3px solid #f1f1f1; */
    z-index: 9;
    border-left: 1px solid #80808017;
}

.form-container {
    position: fixed;
    bottom: 0;
    /* padding: 10px; */
    background-color: white;
}

.form-container-chat {
    /* position: fixed; */
    /* bottom: 0; */
    padding: 10px;
    /* background-color: white; */
}

.btn-public {
    width: 50%;
    height: 40px;
    border-top: none;
    border-right: 1px solid #8080801a;
    border-bottom: 1px solid #8080801a;
    border-left: none;
    font-size: 13px;
}

.btn-public-active {
    background-color: #67a3ff33;
    color: #428dff;
}

.btn-private {
    width: 50%;
    height: 40px;
    border-top: none;
    border-right: none;
    border-bottom: 1px solid #8080801a;
    border-left: none;
    font-size: 13px;
    background-color: #fff;
}

.chat-user-left {
    /* padding-right: 20px; */
}

.chat-user-right {
    padding-left: 30px;
}

.chat-user-name {
    margin: 0;
    padding-top: 4px;
    font-size: 10.5px;
    font-weight: 500;
}

.chat-user-time {
    float: right;
    padding-right: 30px;
    font-size: 9px;
    color: #80808066;
}

.chat-user-message {
    font-size: 10px;
}

.form-container textarea {
    width: 100%;
    height: 25px;
    padding: 4px 14px;
    /* margin: 5px 0 10px 0; */
    resize: none;
    font-size: 10px;
    /* border: 1px solid rgba(103, 163, 255, 0.1); */
    border: 1px solid #80808033;
    border-radius: 02px;
}

.form-container textarea:focus {
    background-color: #428eff0f;
    outline: none;
}

.form-container .btn-submit {
    background-color: #67A3FF;
    color: white;
    border: none;
    cursor: pointer;
    /* margin-bottom: 10px; */
    font-size: 12px;
    width: 60px;
    height: 25px;
    border-radius: 2px;
}

.btn-send-icon {
    width: 10px;
}

.form-container .btn-cancel {
    background-color: #67a3ff80;
    color: white;
    border: none;
    cursor: pointer;
    margin-bottom: 10px;
    font-size: 12px;
    width: 70px;
    height: 26px;
    border-radius: 2px;
}

.form-container .btn:hover, .open-button:hover {
    opacity: 1;
}

.chat-btn-div {
    /* float: right; */
    display: flex;
    margin-bottom: 10px;
}

#overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
    cursor: pointer;
}

.container-overlay {
    width: 500px;
    height: 180px;
    background-color: #fff;
    border-radius: 02px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 30px;
}

.heading-overlay-left {
    font-size: 14px;
}

.heading-overlay-right {
    font-size: 12px;
    padding-top: 2px;
    margin: 0;
    color: #444444b3
}

.nav-li-icon-overlay {
    width: 22px;
}

.overlay-section-a {
    padding-bottom: 50px;
}

.subs-email {
    position: relative !important;
    width: 350px;
    height: 32px;
    box-sizing: border-box;
    border: 1px solid #B9B9B9;
    border-radius: 2px;
    font-size: 12px;
    /* background-color: #428eff08; */
    /* background-image: url(./resources/search.svg); */
    /* background-repeat: no-repeat; */
    /* background-position: 10px; */
    padding: 5px 5px 5px 5px;
    top: 20%;
}

.heading-sub-overlay-left {
    font-size: 12px;
}

.btn-done {
    background-color: #428dff;
    color: white;
    border: none;
    cursor: pointer;
    margin-bottom: 10px;
    font-size: 12px;
    width: 80px;
    height: 32px;
    border-radius: 2px;
}


/* Snippet page - CSS*/

.breadcrumbs-icon {
    width: 10px;
}

.breadcrumbs-text {
    font-size: 12px;
    color: #8DBAFF;
}

.card-snippet {
    background-color: #fff;
    border-radius: 02px;
    width: 100%;
    height: 70vh;
    border: none;
    box-shadow: 0px 0px 5px 0px #428eff0f;
    padding: 30px;
    cursor: pointer;
    border: 1px solid rgba(103, 163, 255, 0.1);
}

/* Custom checkbox */

/* The container-checkbox */
.container-checkbox {
    position: relative;
    padding-left: 25px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding-bottom: 04px;
}
  
  /* Hide the browser's default checkbox */
.container-checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
  
  /* Create a custom checkbox, BOX */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 16px;
    width: 16px;
    background-color: #fff;
    border-radius: 04px;
    border: 02px solid #ccc;
  }
  
  /* On mouse-over, add a grey background color */
  .container-checkbox:hover input ~ .checkmark {
    /* background-color: #ccc; */
  }
  
  /* When the checkbox is checked, add a blue background */
  .container-checkbox input:checked ~ .checkmark {
    background-color: #2196F3;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .container-checkbox input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .container-checkbox .checkmark:after {
    left: 4px;
    width: 5px;
    height: 9px;
    border: solid white;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }


.snippet {
    padding-right: 10px;
}

.snippet-name {
    font-size: 11px !important;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.6);
}

.snippet-img {
    width: 150px;
}

.nav-li-snippet {
    padding-right: 30px;
}

.nav-li-icon-snippet {
    width: 13px;
    cursor: pointer;
}

.nav-li-icon-snippet-play {
    width: 24px;
}

/* Checkbox - More icons */
#myDIV {
    display: none;
}


/* More options - Dropdown */  
  .dropdown-content {
    display: none;
    position: absolute;
    right: 30px;
    background-color: #3B3B3B;
    min-width: 130px;
    height: 100px;
    border-radius: 4px;
    font-size: 11px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    padding: 10px;
  }
  
  .dropdown-content a {
    color: #fffc;
    padding: 6px 12px;
    text-decoration: none;
    display: block;
    text-align: left;
  }

  .show {display: block;}
  

  /* Nav li snippet - Dropdown icon */
  
  .nav-li-icon-snippet-dropdown {
      width: 12px;
      padding-bottom: 02px;
  }